# OpenStack - pre-filled from /etc/kolla/zta-siem-soar-openrc.sh
OS_AUTH_URL=http://192.168.1.254:5000/v3
OS_USERNAME=adminZTA
OS_PASSWORD=ZTA123
OS_PROJECT_NAME=ZTA-SIEM-SOAR
OS_REGION_NAME=RegionOne
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3

# AWS
AWS_ACCESS_KEY_ID=<fill-in>
AWS_SECRET_ACCESS_KEY=<fill-in>
AWS_DEFAULT_REGION=<fill-in>

# WireGuard
AWS_GATEWAY_PRIVATE_KEY=<fill-in>
OS_GATEWAY_PRIVATE_KEY=<fill-in>
AWS_GATEWAY_PUBLIC_KEY=<fill-in>
OS_GATEWAY_PUBLIC_KEY=<fill-in>
AWS_EIP=<fill-in>

# Keycloak
KEYCLOAK_ADMIN_USER=<fill-in>
KEYCLOAK_ADMIN_PASSWORD=<fill-in>
KEYCLOAK_CLIENT_SECRET=<fill-in>

# PLG Stack (Promtail + Loki + Grafana)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<fill-in>
LOKI_RETENTION_DAYS=7
